*--- navheader ---*/
.check {display:none;}
.Navigationbottom label {cursor:pointer;display:block;padding:8px;background-position:center;transition:all .5s linear;position: fixed;bottom: 10px;right: 10px;}
.Navigationbottom .check:checked ~ .NavMenu {opacity:1;visibility:visible;right: 35px;transition:all .3s ease;z-index:2;}
.Navigationbottom .NavMenu {opacity:0;visibility:hidden;position:absolute;right:0;top:-40px;background-color:#fff;color:#3c4043;
transition:all .3s ease;}
.Navigationbottom .check:checked ~ .icon .open {display:none;}
.Navigationbottom .icon .open {display:block;}
.Navigationbottom {position:absolute;right:50px;bottom:27px;}
.Navigationbottom .icon .close {display:none;}
.Navigationbottom .check:checked ~ .icon .close {display:block;}
.Navigationbottom .NavMenu ul {margin:0;padding:0;}
.Navigationbottom .NavMenu:before,.Navigationbottom .NavMenu:after {content:'';top:-5px;right:11px;border-color:transparent;border-bottom-color:#fff;border-style:dashed dashed solid;border-width:8.5px 0px 8.5px 8.5px;position:absolute;z-index:1;height:0;width:0;}
.Navigationbottom .NavMenu ul li.xprofil {background-color:#e6e6e6;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;margin:0;align-items:center;padding:10px 16px;border-bottom:1px solid #fff;}
.Navigationbottom .NavMenu ul li {list-style-type:none;transition:all .3s ease;margin:0;}
.Navigationbottom .NavMenu img {max-width:50px;max-height:50px;border-radius:100px;border:1px solid #fff;margin:0;}
.Navigationbottom .NavMenu ul li.xprofil ul {line-height:24px;margin-left:3px;}
.Navigationbottom .NavMenu ul li.xprofil ul li.name {font-weight:700;font-size:17px;margin-bottom:5px;}
.Navigationbottom .NavMenu ul li.xprofil ul li {padding:0;font-size:17px;line-height:normal;white-space:nowrap;}
.Navigationbottom .NavMenu ul li.xprofil ul li.follow a {background-color:#4285F4;color:#fff;font-size:10px;padding:3px 7px;border-radius:25px;display:inline-block;}
.Navigationbottom .NavMenu ul li a {color:#3c4043;display:block;padding:10px 16px;margin:0;}
.Navigationbottom .NavMenu ul li a span {font-size:14px;}
.Navigationbottom .NavMenu ul li.xprofil ul li.follow a:before {content:'';display:inline-block;width:15px;height:15px;margin-right:3px;margin-left:-3px;vertical-align:-4px;background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M13,7H11V11H7V13H11V17H13V13H17V11H13V7Z' fill='%23fff'/%3E%3C/svg%3E") center no-repeat;}
.Navigationbottom .NavMenu ul li:hover {background:#e6e6e6;}
.Navigationbottom .NavMenu ul li.social {background-color:#fff;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;justify-content:space-between;padding:0 15px;border-top:1px solid #fff;}
.Navigationbottom .NavMenu ul li.social a {padding:15px 7px;z-index:1;position:relative;}
.Navigationbottom .NavMenu ul li.social button {margin:0;font-size:unset;}
.Navigationbottom label:hover {border-radius:100px;background:rgba(253, 253, 253, 0.2) radial-gradient(circle,transparent 2%,rgba(255, 1, 1, 0.2) 2%) center/15000%;}
.Navigationbottom label:active {border-radius:100px;background-color:rgba(0,0,0,.1);background-size:100%;transition:background 0s;}
.Navigationbottom .NavMenu ul li.xprofil ul li.follow a:hover {
background-color:#ff9800;}
.Navigationbottom .NavMenu ul li.social a:hover:before {content:'';position:absolute;z-index:-1;margin:auto;background:rgba(0,0,0,.1);border-radius:100px;width:36px;height:36px;top:0;bottom:0;left:0;right:0;transition:opacity .3s linear;}
@media only screen and (max-width:480px) {
.Navigationbottom .NavMenu ul li a, .Navigationbottom .NavMenu ul li.xprofil {
padding: 8px 13px;}}
.nav-menu2{background-color:#eee;list-style:none;margin:0;width:100%;float:left;padding:0;    border-top: solid 1px #E0E0E0;
border-bottom: solid 1px #E0E0E0;}
.nav-menu2:before,.nav-menu2:after{content:" ";display:table}
.nav-menu2:after{clear:both}.sub-menu{transition:all .5s ease-in-out}
.nav-menu2 ul{list-style:none;margin:0;width:auto}
.nav-menu2 a{display:block;padding:0 15px}
.nav-menu2 li{position:relative;margin:0}
.nav-menu2 > li {margin: 5px 5px;background: #fff;border-radius: 5px;box-shadow: 0 1px 2px rgba(0,0,0,0.2);}
.nav-menu2 > li > a {text-align: center;display: block;line-height: 48px;color: #444;font-weight: 600;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.nav-menu2 > li:hover > a{background:rgb(238 238 238 / 52%)}
.nav-menu2 li ul{background:#fff;display:none;-webkit-transition:all .25s ease-out;-moz-transition:all .25s ease-out;-ms-transition:all .25s ease-out;-o-transition:all .25s ease-out;transition:all .25s ease-out;padding:0}
.nav-menu2 li li ul{left:100%;top:-1px}
.nav-menu2 li li a.click ul{visibility:visible;opacity:10}
.nav-menu2 li li a{display:block;color:#666;position:relative;line-height:40px}
.nav-menu2 li li a:hover{background:#f0f0f0}
.nav-menu2 li li li a{background:#fff;z-index:20;color:#333}
.nav-menu2 li .dropdown:after{content:"\f105";font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;position:absolute;top:0;right:20px;color:#444}
.nav-menu2 li .dropdown.open:after{content:"\f107";font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit}
.nav-menu2 li .dropdown:hover:after{color:#000}
.nav-menu2 li i{font-size:18px;width:35px}.nav li a.click{opacity:1}
.nav-menu2 h2{font-size:14px;font-weight:normal!important;padding:0 20px;margin:0;overflow:hidden;border-top:1px solid #ddd;color:#999;display: none;}
.nav-menu2 p{font-size:13px}
.media-left {z-index: 9;float: left;display: flex;width: 100%;margin-top: -10px;}
.media-left .image img {width: 20px;height: 20px;border-radius: 100%;max-width: inherit;}
.is-4 {font-size: 11px;line-height: 20px;margin: 0 5px;color: #000;width: 100%;}
.dlbtn {margin-top: 1px;margin-left: 5px;}
.item-thumbnail-only .img-thumbnail-popular {border-radius: 7px;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);}
.img-thumbnail-popular {position: relative;height: auto;transition: transform .2s;overflow: hidden;}
.hidden,.noness {display:none;}
.menubottom{display:none}
@media screen and (max-width:800px){.menubottom{position:relative/*fixed*/;right:0;left:0;z-index:5;bottom:0}.menubottom nav ul{display:flex!important;width:100%!important;padding-left:0;justify-content:space-between!important;margin-bottom:0;flex-direction:row!important;list-style:none}.menubottom nav ul li{width:100%!important;list-style:none;}.menubottom nav ul li a{display:block;text-decoration:none;padding:.4rem 1rem}.menubottom nav ul li a svg{width:25px;height:25px;fill:#444;}.menubottom nav ul li a span{color:#4b4f56;position:relative;font-size:8px;display:block;top:0}#openShare{display:block}#closeShare{display:none}#jpthemeFooter{padding-bottom:55px;position:relative;}}
@media screen and (max-width:768px){.menubottom{left:0;text-align:center;width:100%;position:fixed;display:block}
.menubottom nav {background-color: rgb(255,255,255);display: block!important;position: relative;display: flex;flex-wrap: wrap;align-items: center;justify-content: space-between;box-shadow: 0 2px 3px 2px rgba(0,0,0,0.1);background: #fff;text-align: center;font-weight: bold;border-radius: 10px 10px 0 0;text-decoration: none;transition: ease all 0.3s;}
.menubottom ul li{float:left;width:100px;height:100%;transition:transition:all .5s linear;background-position:center;display:block}
.float_wrapper_menubottom{position:fixed;left:0;bottom:0;right:0;transition:all .3s ease-out;-webkit-transform:translateZ(0);transform:translateZ(0);font-family: &#39;Quicksand&#39;, -apple-system, BlinkMacSystemFont, &#39;Segoe UI&#39;, &#39;Oxygen-Sans&#39;, &#39;Helvetica Neue&#39;, Arial, sans-serif;}}
.menubottom.scroll-1 {bottom: -90px;}
.menubottom.scroll-bottom {bottom: 0;}
.menubottom {transition: bottom 0.2s ease-in-out;}
.head-pop:before {content: '';display: block;position: absolute;z-index: -1;width: 100px;height: 100px;border-radius: 2000px;background: rgb(71 195 251 / 45%);left: -35px;top: -30px;}
.pop-area{display:flex!important;width:100%;height:100%;position:fixed;top:0;left:0;background:rgb(0 0 0 / 51%);visibility:hidden;opacity:0;transition:all 0.25s ease-in-out;z-index:999999;overflow-y:scroll}
.pop-area.open{opacity:1;visibility:visible}
.pop-html{background:#fff;padding-bottom:10px;display:block;margin:auto auto;width:calc(100% - 20px);max-width:500px;visibility:hidden;opacity:0;overflow:hidden;transition:all 0.5s ease-in-out;transform:scale(.5);border-radius:7px;box-shadow:0 9px 46px 8px rgba(0,0,0,.14),0 11px 15px -7px rgba(0,0,0,.12),0 24px 38px 3px rgba(0,0,0,.2)}
.pop-area.open .pop-html{opacity:1;transform:scale(1);visibility:visible}
.head-pop {width: -webkit-fill-available;padding: 10px;overflow: hidden;display: flex;}
.head-pop span {font-weight: 600;width: 100%;margin: 3px 5px;}
.close-btn{float:right;cursor:pointer;fill:#7e7e7e}
.table-bookmark {padding: 10px;}
.text-center{display:grid;text-align:center;grid-gap:15px}
.text-center svg{margin:0 auto}
.btn.btn-outline-info{width:fit-content;margin:0 auto;text-decoration:none}
.table {width: 100%;border-radius: 7px;padding: 5px;break-inside: avoid;}
.table img {border-radius: 7px;width: auto;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);}
.table a {text-decoration: none;color: #333;font-size: 12px;width: 100%;display: -webkit-box;-webkit-box-orient: vertical;text-overflow: ellipsis;overflow: hidden;-webkit-line-clamp: 2;}
.img-left{width:100%;display: flex;}
.item-left {float: left;width: 100%;padding: 10px 0;margin-bottom: 10px;}
td.item-remove {position: absolute;margin-top: -35px;margin-left: 5px;}
.btn-remove svg {padding: 5px;border-radius: 100px;box-shadow: 0 0px 5px 2px rgba(0,0,0,0.10);background: #0000003d;}
.btn-remove{cursor:pointer}
.show-bookmark{color:#fff;background-color:#007bff;position:relative;top:-20px;right:10px;font-size:50%;padding:.15em .3em;display:inline-block;padding:.25em .4em;font-size:75%;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:50%;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}
.hartomy-bookmark-btn, .btn-outline-info {position: relative;display: inline-block;box-sizing: border-box;border: none;outline: none;cursor: pointer;transition: box-shadow 0.2s;background: none;}
.hartomy-bookmark-btn::-moz-focus-inner{border:none}
.hartomy-bookmark-btn svg{vertical-align:middle}
.buka-tutup.menubookmark {position: relative;float: right;margin: 0 0 0 0;top: -35px;right: 15px;font-size: 20px;color: gray;cursor: pointer;fill: gray;}
.elementor-shape.elementor-shape-bottom {overflow: hidden;left: 0;width: 100%;line-height: 0;-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);direction: ltr;}
.elementor-shape svg {display: block;width: calc(100% + 1.3px);position: relative;left: 50%;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);height: 50px;}
.elementor-shape .elementor-shape-fill {fill: #fff;-webkit-transform-origin: center;-ms-transform-origin: center;transform-origin: center;-webkit-transform: rotateY(0deg);transform: rotateY(0deg);}
.lang-iklanpost .widget-content {margin: 30px 0;}
.ads-here {background: radial-gradient(transparent, #c2afb1);display: flex;align-items: center;justify-content: center;padding: 20px 0;border: 1px solid #ebeced;border-radius: 3px;color: #767676;font-size: 12px;}
.ads-here:before {content: 'IKLAN DISINI!';}
.menubtm{height:55px;display:block;transition:top .3s ease;bottom:0;left:0;padding:10px;position:fixed;z-index:99;box-shadow:0 2px 10px 2px rgba(0,0,0,.1);background:rgb(255 255 255 / 54%);width:-webkit-fill-available}
.btnlook{background:#f1f1f1;display:block;text-align:center;font-weight:700;-webkit-border-radius:50px;padding:11px;transition:ease all .3s;float:left;margin-top:8px;margin-right:10px}
.btndwnld{background:#d11313;display:block;text-align:center;font-weight:700;-webkit-border-radius:50px;transition:ease all .3s;float:left;padding:10px;margin-top:8px}
.title-image-popular {background: linear-gradient(transparent,rgba(0, 0, 0, 0.8));position: absolute;left: 0;right: 0;bottom: 0;padding-top: 30px;}
.title-image {display: flex;margin: 10px 0;}
.title-image-popular h3 {overflow: hidden;line-height: 35px;margin: 0 10px!important;color: #ffffff;font-size: 12px;white-space: nowrap;text-overflow: ellipsis;}
.title-image h1 {color: #333;font-size: 12px;width: 100%;display: -webkit-box;-webkit-box-orient: vertical;text-overflow: ellipsis;overflow: hidden;-webkit-line-clamp: 2;}
.title-image-popular h3 a {color: #ffffff!important;}
.post-body .separator img:first-child {display: none;}
.postwrapper-artikel .title-wrapper h1 {text-align: center;    margin: 0;}
.bckbtn {box-shadow: 0 0px 5px 2px rgba(0,0,0,0.10);background:#0000003d;display: block;width: 40px;height: 40px;line-height: 40px;text-align: center;color: white;font-size: 35px;font-weight: bold;border-radius: 50px;-webkit-border-radius: 50px;text-decoration: none;transition: ease all 0.3s;position: fixed;left: 15px;top:15px;z-index: 9;}
.bckbtn:hover{background: black}
.lock, .locked{overflow:hidden!important}

